<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Баланс</title>
</head>
<body>
<div style="text-align: right;">
    <a th:href="@{/cart}">Корзина</a>
</div>
<div style="text-align: right;">
    <a th:href="@{/orders}">Заказы</a>
</div>
<div style="text-align: right;">
    <div th:if="${authenticated}">
        <form th:action="@{/logout}" method="post">
            <button type="submit">Выйти</button>
        </form>
    </div>
</div>

<form th:action="@{/balance}" method="post">
    <input type="hidden" name="username" th:value="${#authentication.name}" />
    <button type="submit">Проверить баланс</button>
</form>

<div th:if="${balance != null}">
    <p>Текущий баланс: <b th:text="${balance}">0.00</b></p>
</div>
<hr>
<a th:href="@{/products}">Назад к витрине</a>
</body>