<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Оформление заказа</title>
</head>
<body>
<h2>Оформление заказа</h2>
<div style="text-align: right;">
    <a th:href="@{/cart}">Корзина</a>
</div>
<div style="text-align: right;">
    <a th:href="@{/orders}">Заказы</a>
</div>
<div style="text-align: right;">
    <a th:href="@{/balance}">Проверить баланс</a>
</div>
<form th:action="@{/cart/checkout}" th:object="${order}" method="post">
    <label>Имя:</label>
    <input type="text" th:field="*{customerName}" required><br>
    <button type="submit">Заказать</button>
</form>
<!--<hr/>-->
<!--<form id="balanceFrom">-->
<!--    <input type="text" id="username" placeholder="Имя пользователя..." required>-->
<!--    <button type="submit">Проверить баланс</button>-->
<!--</form>-->
<!--<p id="result"></p>-->
<!--<script>-->
<!--    document.getElementById('balanceFrom').addEventListener('submit', async function(e) {-->
<!--        e.preventDefault();-->
<!--        const username = document.getElementById('username').value;-->
<!--        -->
<!--        const response = await fetch(`/balance/${encodeURIComponent(username)}`);-->
<!--        if (response.ok) {-->
<!--            const balance = await response.text();-->
<!--            -->
<!--            document.getElementById('result').textContent = 'Не удалось';-->
<!--        }-->
<!--    });-->
<!--</script>-->
</body>
</html>