<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${order.getOrder().getId()}">Заказ</title>
</head>
<body>
<div style="text-align: right;">
    <a th:href="@{/cart}">Корзина</a>
</div>
<div style="text-align: right;">
    <a th:href="@{/orders}">Заказы</a>
</div>
<div style="text-align: right;">
    <a th:href="@{/balance}">Проверить баланс</a>
</div>
<div style="text-align: right;">
    <div th:if="${authenticated and !isKeycloakAuthorized}">
        <form action="/oauth2/keycloak" method="get">
            <button type="submit">OAuth2 авторизация</button>
        </form>
    </div>
    <div th:if="${authenticated}">
        <form th:action="@{/logout}" method="post">
            <button type="submit">Выйти</button>
        </form>
    </div>
</div>
<p>
    <strong>Дата заказа: </strong>
    <span th:text="${#temporals.format(order.getOrder().getCreatedAt(), 'dd.MM.yyyy HH:mm')}"></span>
    <br/>
    <strong>Имя: </strong>
    <span th:text="${order.getOrder().customerName}"></span>
</p>
<table>
    <thead>
    <tr>
        <th>Картинка</th>
        <th>Название</th>
        <th>Цена</th>
        <th>Количество</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${order.getOrderItems()}">
        <td>
            <div th:if="${item.imageUrl != null}">
                <img th:src="@{${item.imageUrl}}" width="200"/>
            </div>
            <div th:if="${item.imageUrl == null}">
                <em>Нема картинки</em>
            </div>
        </td>
        <td th:text="${item.productName}"></td>
        <td th:text="${item.price}"> шт.</td>
        <td th:text="${item.quantity}"> у.е.</td>
    </tr>
    </tbody>
</table>
<hr>
<a th:href="@{/products}">Назад к витрине</a>
</body>
</html>