<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ошибка оплаты</title>
</head>
<body>
<div style="text-align: right;">
    <a th:href="@{/cart}">Корзина</a>
</div>
<div style="text-align: right;">
    <a th:href="@{/orders}">Заказы</a>
</div>
<div style="text-align: right;">
    <a th:href="@{/balance}">Проверить баланс</a>
</div>
<div style="text-align: right;">
    <a th:href="@{/cart}">Корзина</a>
</div>
<div style="text-align: right;">
    <a th:href="@{/orders}">Заказы</a>
</div>

<p>Не удалось обработать платеж.</p>
</body>